---
layout: default
title: Freak Pointing
title_suffix: Dublin Rock
og_title: Freak Pointing
description: Freak Pointing are a four-piece Dublin rock band. Hard riffs, melodic anthems, punk energy.
canonical_url: https://freakpointing.ie
og_url: https://freakpointing.ie
permalink: /
sitemap:
  priority: 1.0
  changefreq: monthly
  lastmod: 2026-04-05
---
{% include hero.html %}
{% include music.html %}
{% include about.html %}
{% include press.html %}
{% include video.html %}
{% include photos.html %}
{% include gigs.html %}
{% include contact.html %}
